
$background: hsl(30, 38%, 92%);
$cardbackground: hsl(0, 0%, 100%);
$primario: hsl(212, 21%, 14%);
$secundario: hsl(228, 12%, 48%);
$destaque: hsl(158, 36%, 37%);
$hover: hsl(158, 42%, 18%);

.Card {
    display: flex;
}

.img__desk{
    width: 50%;
}

.img__desk img {
    border-radius: 9px 0 0 9px;
}

.img__mob{
    display: none;
}

.card__text {
    display: flex;
    flex-direction: column;
    background-color: $cardbackground;
    padding: 1.5rem;
    justify-content: space-evenly;
    border-radius: 0 9px 9px 0;
    width: 50%;
}

.category {
    font-family: "Fraunces", serif;
    color: $secundario;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 0.8rem;
}

.name {
    font-family: "Fraunces", serif;
    font-size: 2rem;
    line-height: 2rem;
    color: $primario;
    width: 90%;
}

.description {
    color: $secundario;
    font-size: 0.8rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    line-height: 1.25rem;
    width: 84%;
}

.price {
    display: flex;
    align-items: center;
    gap: 5%;
}

.current {
    color: $destaque;
    font-size: 2rem;
    font-family: "Fraunces", serif;
}

.previous {
    color: $secundario;
    text-decoration: line-through;
}

.button {
    background: $destaque;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color: $cardbackground;
    padding: 1rem;
    border-radius: 9px;
    border: 1px solid transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
}

.button:hover {
    background: $hover;
}

@media screen and (max-width: 450px) {
    .Card {
        flex-direction: column;
        height: 95vh;
    }

    .img__desk {
        display: none;
    }

    .img__mob {
        display: flex;
        width: 100%;
        border-radius: 9px 9px 0 0;
    }

    .img__mob img {
        border-radius: 9px 9px 0 0 ;
    }
    
    .card__text {
        width: 100%;
        border-radius: 0 0 9px 9px;
        height: 100vh;
        justify-content: space-between;
    }

    .name {
        width: 100%;
    }
    
    .description {
        width: 93%;
    }
}